<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Jen's Task List</h1>
    <div>
        <ul>
            <li>Make a new task</li>
            <li>Mark a task complete</li>
            <li>Need to do the task again? Mark it Incomplete</li>
            <li>Delete a Task</li>
        </ul>
        <img src="" alt="">
    </div>
    
    
</body>
</html>